<p>
  <a href="{% url 'index' %}">Criclive</a> -
  <a href="{% url 'displayTeamList' %}">Teams</a> -
  <a href="{% url 'displayPlayerList' %}">Players</a> -
  <a href="{% url 'displayTournamentList' %}">Tournaments</a> -
  <a href="{% url 'displayPointstableList' %}">Points Table</a> -
  <a href="{% url 'displayVenueList' %}">Venues</a> -
  <a href="{% url 'displayMatchList' %}">Matches</a> -
  <a href="{% url 'displayMatchSumList' %}">Match Summary</a> 

	
</p>

{% block content %} {% endblock content %}