{% extends "base.html" %}

{% block content %}



</!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Consume REST Framework into AJAX Query.</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> 
  </script>
  <script>
    $(document).ready(function()
    {
      $.ajax({
        url:'http://127.0.0.1:8000/api/player-list/',
        datatype:'JSON',
        success:function(data){
          for (var i = 0; i < data.length; i++) 
          {
            var row = $('<tr><td>'+data[i].id+'</td><td>'+data[i].name+'</td><td>'+data[i].born+'</td><td>'+data[i].batting_style+'</td><td>'+data[i].bowling_style+'</td><td>'+data[i].first_Test+'</td><td>'+data[i].first_Odi+'</td><td>'+data[i].first_T20+'</td><td>'+data[i].profile+'</td></td>'+data[i].coach+'</td></tr>');
              $("#Playerlist").append(row);
            
          }
        }
      });
    });
  </script>
  
</head>

<body>
  <center>
    <h1>Player List</h1>
    <hr/>

<table class="table" id = 'Playerlist'>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Born</th>
      <th scope="col">Batting Style</th>
      <th scope="col">Bowling Style</th>
      <th scope="col">Test Debut</th>
      <th scope="col">ODI Debut</th>
      <th scope="col">T20 Debut</th>
      <th scope="col">Profile</th>
      <th scope="col">Coache</th>
    </tr>
  </thead>
</table>

  </center>
</body>
</html>

{% endblock content %}




























































