{% extends "base.html" %}

{% block content %}
  <p>Criclive  is a cricket news website. In this webapp I am using the Django REST Framework. I am using MySQL as database. To work with the databse I am using Xampp. In this project we first create the API and then we consume the api into AJAX Jquery. So firstly I have created the models and migrated all of them to the MySQL database. Then I created a root directory for our API. Now when client makes an HTTP request to our API, API will communicate to our webapp/database. Our webapp/database provides the required data to the API. Finally the API returns response data to the client. </p>
{% endblock content %}





